body {
  display: flex;
  margin: 0px;
  padding: 0px;
}
button {
  position: fixed;
  border: none;
  padding: 8%;
  margin: 1%;
  opacity: 0.3;
  outline: none;
}

#leftArrow {
  position: fixed;
  width: 0;
  height: 0;
  margin-top: 16%;
  margin-left: 2%;
  border-top: 120px solid transparent;
  border-bottom: 120px solid transparent;
  border-right: 120px solid yellow;
}

#rightArrow {
  right: 0%;
  width: 0;
  height: 0;
  margin-top: 16%;
  position: fixed;
  margin-left: 70%;
  margin-right: 2%;
  border-top: 120px solid transparent;
  border-bottom: 120px solid transparent;
  border-left: 120px solid yellow;
}

/*#leftArrow {*/
  /*width: 0;*/
  /*height: 0;*/
  /*border-top: 10px solid transparent;*/
  /*border-bottom: 10px solid transparent;*/
  /*border-right: 10px solid blue;*/
/*}*/

#leftButton {
  background-color: white;
  top: 28%;
  left: 0%;
}

#upButton {
  background-color: white;
  top: 28%;
  left: 26%;
}

#rightButton {
  background-color: white;
  top: 28%;
  right: 0%;
}

#downButton {
  background-color: gray;
  right: 26%;
  bottom: 0%;
}
