body {
  display: flex;
  margin: 0px;
  padding: 0px;
}
button {
  position: fixed;
  border: none;
  padding: 10%;
  margin: 1%;
  border-radius: 50%;
  opacity: 0.3;
  outline: none;
}

#leftButton {
  background-color: gray;
  bottom: 0%;
  left: 0%;
}

#upButton {
  background-color: gray;
  bottom: 0%;
  left: 26%;
}

#rightButton {
  background-color: gray;
  bottom: 0%;
  right: 0%;
}

#downButton {
  background-color: gray;
  right: 26%;
  bottom: 0%;
}
